{% extends 'base.html.twig' %}
{% block title %}Pais{% endblock %}
{% block body %}
<!-- Principal Content Start -->
   <div id="categories">
   	  <div class="container">
   	    <div class="col-xs-12 col-sm-8 col-sm-push-2">
       	   <h1>Pais</h1>
		   {{ form(form, {'attr':{'class':'form-horizontal'}})}}

       	   <hr class='divider'>
		   <div>
				<table class="table">
					<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
					</tr>
					</thead>
					<tbody>
					{% for pais in paises %}
					<tr>
						<th scope="row">{{ pais.id }}</th>
						<td>
							{{ pais.name }}
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>

			</div>
       	</div>   
   	  </div>
   </div>
<!-- Principal Content Start -->
{% endblock %}