{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}
{% block body %}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Product</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div id="fh5co-product">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Cool Stuff</span>
					<h2>Products.</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				{% for products in product %}
                    {{include ("partials/_productos.html.twig", {"products":products} )}}
                {% endfor %}
			</div>
		</div>
	</div>
	<!-- Products End -->
    {{include ("partials/_infoProduct.html.twig")}}
    {{include ("partials/_cartModal.html.twig")}}
{% endblock %}